<button title="Editar al equipo" type="button" class="btn" data-bs-toggle="modal" style="font-size: 26px; margin-top: 30px; margin-left: 50px;"
      data-bs-target="#addTeam">Añadir equipo <i class="fas fa-edit"></i></button>

  <button title="Editar al equipo" type="button" class="btn" data-bs-toggle="modal" style="font-size: 26px; margin-top: 30px; margin-left: 50px;"
      data-bs-target="#SeeTable">Ver tabla <i class="fas fa-table"></i></button>

      <button title="Editar al equipo" type="button" class="btn" (click)="pdfTeamsByLeague()" style="font-size: 26px; margin-top: 30px; margin-left: 50px;"
      >Imprimir tabla<i class="fas fa-edit"></i></button>



<div class="centro">

  <div class="absolute">
    <div class="team" *ngFor="let tm of team" style="background-image: url({{tm.img}}); background-repeat:no-repeat; background-size: 100% 100%;background-size: cover;  color:black">
      <strong>{{tm.name}}</strong>
      <br>
      <button title="Editar al equipo" type="button" class="btn" data-bs-toggle="modal"
      data-bs-target="#modalEditUser" (click)="findTeamId(tm._id)"><i class="fas fa-edit"></i></button>

      <button title="Eliminar al equipo" type="button" class="btn" data-bs-toggle="modal"
      data-bs-target="#modalDeleteUser" (click)="findTeamId(tm._id)"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>

<br><br><br>


  <div class="borde"></div>

</div>


<div class="centro">
  <h1 class="mb-4">Partidos de la liga</h1>
  <table class="table">

    <thead>
      <tr class="aling-center">
        <th scope="col">Id</th>
        <th scope="col">Equipo 1</th>
        <th scope="col">Goles</th>
        <th scope="col">Goles</th>
        <th scope="col">Equipo 2</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of matchT, index as id " class="text-center">
        <td>{{ us._id }} </td>
        <td>{{ us.team1 }} </td>
        <td>{{ us.goal1 }}</td>
        <td>{{us.goal2}}</td>
        <td>{{us.team2}}</td>
        <td class="none">
          <div class="btn-group" role="group" aria-label="Basic example">

            <!-- Eliminar Usuario -->
            <button title="Eliminar partido" type="button" class="btn" data-bs-toggle="modal"
              data-bs-target="#modalDeleteMatch" (click)="findMatchId(us._id)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br>

</div>







<!-- Modal #AddTeam# -->
<div class="modal fade" id="addTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Añadir a liga </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="logo-image">
            <img src="./assets/image/as.jpeg" alt="Logo" title="Logo" width="115">
          </div>
          <div class="group">
            <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="addTeam.name" >
            <label>Nombre equipo</label>
          </div>
          <div class="group">
            <input type="text" id="img" name="img" #img="ngModel" [(ngModel)]="addTeam.img">
            <label>Url de imagen</label>
          </div>
          <br>
            <button type="button" class="button buttonBlue" data-bs-dismiss="modal" (click)="addTeamUser()">Guardar cambios
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            <button type="button" class="bot cancel" data-bs-dismiss="modal">Cancelar
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal #SeeTable# -->
<div class="modal fade" id="SeeTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Tabla de posiciones </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h1 *ngIf="leagueA" class="mt-4">{{leagueA.name}}</h1>
  <table class="table">

    <thead>
      <tr class="text-center" >
        <th scope="col" class="text-center">Puesto</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Puntos</th>
        <th scope="col" class="text-center">PJ</th>
        <th scope="col" class="text-center">PG</th>
        <th scope="col" class="text-center">PE</th>
        <th scope="col" class="text-center">PP</th>
        <th scope="col" class="text-center">Goles A.</th>
        <th scope="col" class="text-center">Golen en C.</th>
        <th scope="col" class="text-center">Diferencia</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of team, index as id " class="text-center">
        <td>{{ id+ 1 }} </td>
        <td >{{ us.name }} </td>
        <td>{{ us.pts }}</td>
        <td>{{us.pj}}</td>
        <td>{{us.pg}}</td>
        <td>{{us.pe}}</td>
        <td>{{us.pp}}</td>

        <td>{{ us.goalA }}</td>
        <td>{{ us.goalC }}</td>
        <td>{{us.goalA - us.goalC}}</td>

      </tr>
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>

<div class="centro">
  <p class="descript">
    Añadir partidos como Administrador
  </p>
  <div class="login-form">
    <div>
      <img src="./assets/image/futbol-americano.png" alt="Logo" title="Logo" width="180">
    </div>
    <form class="form">
      <div class="half">
        <div class="group">
          <input type="text" id="idteam1" name="idteam1" #idteam1="ngModel" [(ngModel)]="addMatch.idTeam1">
          <label>Nombre del equipo 1</label>
        </div>
      </div>
      <div class="half">
        <div class="group">
          <input type="text" id="idteam2" name="idteam2" #idteam2="ngModel" [(ngModel)]="addMatch.idTeam2">
          <label>Nombre del equipo 2</label>
        </div>
      </div>
      <div class="half">
        <div class="group">
          <input type="text" id="goal1" name="goal1" #goal1="ngModel" [(ngModel)]="addMatch.goal1">
          <label>Goles del equipo 1</label>
        </div>
      </div>
      <div class="half">
        <div class="group">
          <input type="text" id="goal2" name="goal2" #goal2="ngModel" [(ngModel)]="addMatch.goal2">
          <label>Goles del equipo 2</label>
        </div>
      </div>

      <br>
      <div class="almost-half">
        <button type="button" class="button buttonBlue" (click)="addMatchAdmin()">Añadir partido a la liga
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </div>
    </form>
  </div>
</div>





<!-- Modal #Delete User# -->
<div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar equipo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
      </div>

      <form>
          <p class="subtitle">¿Desea Eliminar a {{teamSelected.name}}?</p>
          <br>
        <div class="modal-footer">
          <button type="button" class="button buttonBlue" data-bs-dismiss="modal" (click)="deleteTeamUser(teamSelected._id)"
            >Si, eliminar
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
          </button>
          <button type="button" class="bot cancel" data-bs-dismiss="modal">Cancelar
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<!-- Modal #Edit User# -->
<div class="modal fade" id="modalEditUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Modificar a </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="logo-image">
            <img src={{teamSelected.img}} alt="Logo" title="Logo" width="115">
          </div>
          <div class="group">
            <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="teamSelected.name">
            <label>Nombre equipo</label>
          </div>
          <br>
            <button type="button" class="button buttonBlue" data-bs-dismiss="modal" (click)="updateTeamUser()">Guardar cambios
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            <button type="button" class="bot cancel" data-bs-dismiss="modal">Cancelar
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
